* {
    box-sizing: border-box;
}

body {
    background-color: #06002b;
    color: #e4e6c8;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

li{
    display: inline;
}

.nav-tile{
    background-color: #E8D5B5;
    color: #06002b;
    display: inline-block;
    position: relative;
    margin-top: 0px;
    top: 4px;
    left: 5px;
    font-family: 'Domine', serif;
}

h1{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Domine', serif;
}

h2{
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Domine', serif;
    line-height: 150%;
}

h3{
    line-height: 150%;
    margin-top: 30px;
    text-align: center;
    font-family: 'Domine', serif;
}

hr{
    background-color: #787586;
    height: 7px;
    width: 70%;
    margin: 0;
    border: 0px;
}

.hero{
    text-align: center;
}

.hero h3{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
}

main{
    text-align: left;
}

main p{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
}

.portrait{
    display: block;
}

.screenshot{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.technologies{
    background-color: #e4e6c8;
    color: #06002B;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.flex-container .visit-project{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visit-project a{
    font-family: 'Roboto', sans-serif;
    background-color: #e4e6c8;
    border:4px solid black;
    color: #06002B;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

footer{
    margin-top: 25px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #ffffff;
    margin-left: 10px;
}


@media screen and (min-width:200px) and (max-width:599px){
.nav-tile{
    font-size: 18px;
    padding: 20px 20px;
}

.nav-my-name{
    display: none;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 20px;
}

main p{
    font-size: 20px;
}

.flex-container{
    display: inline-block
}

.portrait{
    display: none;
}

.icon-styles{
    width: 22%;
}

.visit-project a{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer{
    font-size: 18px;
}
}

@media screen and (min-width:600px) and (max-width:1099px){
.nav-tile{
    padding: 15px 15px;
    font-size: 35px;
}

.nav-my-name{
    display: inline-block;
    position: relative;
    left: 25px;
    font-size: 24px;
}

h1{
    font-size: 44px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

main p{
    font-size: 22px;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.project-column{
    display: flex;
    flex-direction: column;
}

.portrait{     
    display: inline-block;
    width: 60%;
    margin-top: 30px;
}

.screenshot{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.project-title{
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-description{
    margin-top: 10px;
    margin-bottom: 15px;
}

.technologies{
    margin-top: 10px;
}

.technologies h3{
    margin-top: 0px;
    margin-bottom: 5px;
}

.icon-styles{
    width: 23%;
}

.visit-project a{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

footer{
    font-size: 24px;
}
}


@media screen and (min-width:1100px){
.nav-tile{
    font-size: 40px;
}

.nav-my-name{
    display: inline-block;
    position: relative;
    left: 25px;
    font-size: 24px;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 28px;
}

main p{
    font-size: 24px;
}

.flex-container{
    max-width: 95%;
}

.screenshot{
    margin-top: 20px;
}

.project-title{
    margin-top: 40px;
    margin-bottom: 10px;
}

.project-description{
    margin-top: 30px;
    margin-bottom: 30px;
}

.technologies{
    margin-top: 30px;
}
}